<header class="navbar navbar-default">
  <div class="navbar-class">
    <div class="container">
            <%= link_to 'Home', root_path, :class => 'navbar-brand' %>
            <% if user_signed_in? %>
                <%= link_to "Logout", destroy_user_session_path, method: :delete %>
                 / 
                <%= link_to 'New', new_post_path%>
            <% else %>
                <%= link_to "Login", new_user_session_path %>
                <%= link_to "Register", new_user_registration_path %>
            <% end %>
    </div>
  </div>
</header>